a {
    color: #000;
}
label, input[type='submit'] {
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
}
h3 {
    margin-bottom: 3px;
}
.error {
    color: #f00;
    font-weight: bold;
}